<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ticket registration form</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

</head>
<body>
<h1>Ticket form</h1>
<form>
    <p>user: <input type="text"/></p>
    <p>project: <input type="text"/></p>
    <p>description: <input type="text"/></p>
    <p>status: <input type="text"/></p>
    <p>type: <input type="text"/></p>
    <p>priority: <input type="text"/></p>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>
</body>
</html>